body{
    background-color: ghostwhite;
}
.header{
    width: 100%;
    height: auto;
    background-color: #37363d;
    display: flex;
}
.logo{
    display: flex;
    width: 6%;
    object-fit: contain;
    height: auto;
    align-items: center;
}
.home{
    display: flex;
    width: 6%;
    color: white;
    object-fit: contain;
    height: auto;
    align-items: center;
    margin-left: auto;
}
.aboutus{
    display: flex;
    width: 6%;
    color: white;
    object-fit: contain;
    height: auto;
    align-items: center;
    margin-left: auto;
}
.profile{
    display: flex;
    width: 20%;
    object-fit: contain;
    height: auto;
    align-items: center;
    margin-left: auto;
}
.product{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.lorem{
    display: flex;
    object-fit: contain;
    width: 50%;
    height: auto;
    margin-right: 5%;
    margin-right: 5%;
}
.img{
    display: flex;
    object-fit: contain;
    width: 50%;
    height: auto;
}
.buynow{
    display: block;
    object-fit: contain;
    margin: auto;
    background-color: rgb(14, 20, 87);
    color: rgb(255, 255, 255);
    width: 20%;
    height: auto;
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
    border-radius: 40%;
}